# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Dr. Nipun Lab
email: drnipun29j@gmail.com, rohitnadda@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  A translational research lab integrating multi-omics, causal inference,
  microbial proteomics, and computational biology to understand liver conditions.
url: "https://dr-nipun-lab.github.io"
repository: "Dr-Nipun-Lab/Dr-Nipun-Lab.github.io"
twitter_username: username
github_username: Dr-Nipun-Lab
minimal_mistakes_skin: default
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
jekyll-remote-theme:
  enabled: true
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  #- jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Dr. Nipun Lab"
  avatar : "/assets/images/bio-photo.jpg"
  bio    : "AD/ACLF, Multi-omics, Systems biology, Clinical proteomics, Computational biology."
  email: drnipun29j@gmail.com, rohitnadda@gmail.com
  links:
  - label: "GitHub"
    icon: "fab fa-fw fa-github"
    url: "https://github.com/Dr-Nipun-Lab"
  - label: "LinkedIn"
    icon: "fab fa-fw fa-linkedin"
    url: "https://www.linkedin.com/in/nipun-verma-708b31146?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
  - label: "X"
    icon: "fab fa-fw fa-twitter"
    url: "https://x.com/drnipunverma?s=11&t=jyg9enbavqJSRAsqxCCFHw"

footer:
  links:
  - label: "GitHub"
    icon: "fab fa-fw fa-github"
    url: "https://github.com/Dr-Nipun-Lab"
  - label: "LinkedIn"
    icon: "fab fa-fw fa-linkedin"
    url: "https://www.linkedin.com/in/nipun-verma-708b31146?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
  - label: "X"
    icon: "fab fa-fw fa-twitter"
    url: "https://x.com/drnipunverma?s=11&t=jyg9enbavqJSRAsqxCCFHw"

nav:
  - title: "Home"
    url: "/"
  - title: "About"
    url: /about/
  - title: "Members"
    url: /members/
  - title: "Research"
    url: /research/
  - title: "Publications"
    url: /publications/
  - title: "Tools"
    url: /tools/
  - title: "News"
    url: /news/

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
sass:
  sass_dir: _sass
  style: expanded
