---
# IMPORTANT: this enables Jekyll to compile SCSS
---

@import "minimal-mistakes/skins/default"; // Skin
@import "minimal-mistakes";              // Theme
@import "custom";                         // Your custom.scss
